.section-cities {
	padding-top: 16px;
	padding-bottom: 40px;
	overflow: hidden;

	@include desktop {
		padding-top: 40px;
		padding-bottom: 100px;
	}

	&__title {
		margin-bottom: 18px;

		@include desktop {
			margin-bottom: 48px;
		}
	}

	&__slider {
		overflow: visible;
	}

	&__grid {
		@include tablet {
			display: grid;
			grid-template: auto / repeat(3, minmax(0, 1fr));
			grid-gap: 8px;
		}

		@include desktop {
			grid-gap: 16px;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: 16px;
		background-color: $color-bg-card;
		border-radius: 12px;
		height: auto !important;

		@include desktop {
			padding: 24px;
		}
	}

	&__card-img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		border-radius: 8px;
		height: 120px;

		@include desktop {
			height: auto;
		}
	}

	&__card-title {
		font-size: 20px;
		line-height: 1.14;
		font-weight: 700;
		margin-bottom: 5px;

		@include desktop {
			font-size: 24px;
		}
	}

	&__card-text {
		font-size: 16px;
		line-height: 1.4;
		color: $color-text2;
		margin-bottom: 16px;

		@include desktop {
			font-size: 18px;
		}
	}

	&__card-list {
		margin-bottom: 24px;
		font-size: 16px;
		line-height: 1.3;
		color: rgba($color-text2, .5);

		@include desktop {
			margin-bottom: 40px;
			font-size: 18px;
		}
	}

	&__card-btn {
		width: 100%;
		margin-top: auto;
	}
}
