.section-subscribe {
	padding-bottom: 24px;

	@include desktop {
		padding-top: 40px;
		padding-bottom: 100px;
	}

	&__panel {
		position: relative;
		padding: 16px;
		border-radius: 12px;
		background-color: $color-bg-card;
		text-align: center;

		&::before {
			@include background-image("../images/section-subscribe/img");
			display: inline-block;
			width: 100px;
			height: 100px;
			margin-bottom: 24px;
			border-radius: 50%;
			background-size: contain;
			background-repeat: no-repeat;
			content: "";
		}

		@include desktop {
			@include background-image("../images/section-subscribe/img");
			padding: 32px 44px 44px;
			background-size: contain;
			background-position: calc(100% - 62px) center;
			background-repeat: no-repeat;
			text-align: unset;
		}
	}

	&__content {
		max-width: 771px;
	}

	&__title {
		margin-bottom: 12px;

		@media (max-width: $breakpoint-tablet) {
			font-size: 20px;
			line-height: 24px;
		}

		@include desktop {
			margin-bottom: 16px;
		}
	}

	&__text {
		margin-bottom: 24px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		color: #505050;

		@include tablet {
			font-size: 20px;
		}

		@include desktop {
			margin-bottom: 48px;
			color: #000;
		}
	}

	&__btn {
		width: 100%;
		max-width: 300px;

		@include desktop {
			width: unset;
		}
	}
}
