.section-process {
	padding-top: 32px;
	padding-bottom: 16px;
	overflow: hidden;

	@include desktop {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	&__title {
		margin-bottom: 16px;

		@include desktop {
			margin-bottom: 48px;
		}
	}

	&__nav {
		display: none;

		@include desktop {
			display: inline-flex;
			margin-bottom: 24px;
		}
	}

	&__nav-elem {
		padding: 12px 14px;
		background-color: $color-white;
		border: 2px solid $color-red;
		font-size: 18px;
		line-height: 1.14;
		font-weight: 700;
		transition: background-color $transition-default, color $transition-default;

		&--active {
			background-color: $color-red;
			color: white;
		}

		&:first-child {
			border-radius: 11px 0 0 11px;
		}

		&:last-child {
			border-radius: 0 11px 11px 0;
		}

		&:not(.section-process__nav-elem--active):hover {
			background-color: rgba($color-red, .05);
		}
	}

	&__slider-box {
		position: relative;
	}

	&__slider {
		overflow: visible;

		@include desktop {
			overflow: hidden;
		}
	}

	&__slider-wrapper {
		display: block;

		@include desktop {
			display: flex;
		}
	}

	&__slider-nav {
		position: absolute;
		z-index: 5;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: none;
		justify-content: space-between;
		width: 100%;
		pointer-events: none;

		@include desktop {
			display: flex;
		}
	}

	&__slider-btn {
		pointer-events: all;

		&--prev {
			transform: translateX(-50%);
		}

		&--next {
			transform: translateX(50%);
		}
	}

	&__grid {
		overflow: visible;
		@include desktop {
			display: grid;
			grid-template: 1fr / repeat(4, minmax(0, 1fr));
			grid-auto-rows: 1fr;
			grid-gap: 16px;
		}
	}

	&__subslider {
		overflow: visible;

		&--top {
			margin-bottom: 24px;

			@include desktop {
				margin-bottom: 0;
			}
		}
	}

	&__card {
		padding: 16px 16px;
		background-color: $color-bg-card;
		border-radius: 12px;
		height: auto !important;

		@include desktop {
			padding: 24px 16px;
		}
	}

	&__card-num {
		display: block;
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
		color: #B2ABAA;

		@include desktop {
			margin-bottom: 12px;
			font-size: 18px;
		}
	}

	&__card-title {
		font-size: 20px;
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 6px;
	}

	&__card-text {
		font-size: 16px;
		line-height: 1.4;
		color: $color-text2;

		@include desktop {
			font-size: 18px;
		}
	}

	&__slider-title {
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		@include desktop {
			display: none;
		}
	}
}
