$color-black: #000;
$color-white: #fff;
$color-bg: $color-white;
$color-red: #FB2E13;
$color-text2: #5C5C5C;
$color-bg-card: #F9F9F9;

$section-gradient: radial-gradient(205.94% 100.88% at 5.1% 97.37%, rgba(255, 170, 122, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), radial-gradient(194.93% 104.81% at 92.4% 93.85%, #C1C5FF 0%, #FFF 100%);
